
.HomePage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  min-height: 100vh; /* גובה מינימלי של 100% מהגובה של חלון הדפדפן */
  width: 100%; /* רוחב מלא של הדף */
  box-sizing: border-box; /* התחשבות בחלקים נוספים כמו padding ו-border */
  overflow: hidden; /* מסתיר גלילה נוספת אם התוכן עולה מעבר לרוחב/גובה */
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* מרווח בין הכפתורים */
}

.link-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.link-row a {
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link-row a:hover {
  background-color: #3700b3; /* צבע ריחוף */
}

.link-row a:active {
  background-color: #03dac6; /* צבע בלחיצה */
}


h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.schedule table th, .schedule table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.schedule table th {
  background-color: #f5f5f5;
}


/*
  
  .title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .links {
    margin-bottom: 20px;
    background: rgba(44, 62, 80, 0.7);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    right: 10px;
    top: 198px;
    z-index: 2;
  }
  
  .links a {
    font-size: 1.2em;
    color: #ecf0f1;
    text-decoration: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .links a:hover {
    color: #bdc3c7;
  }
  
  .links a svg {
    margin-right: 8px;
  }
/*
  .schedule {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .schedule h2 {
    font-size: 2em;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .schedule table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .schedule table, .schedule th, .schedule td {
    border: 1px solid #ddd;
  }
  
  .schedule th, .schedule td {
    padding: 12px;
    text-align: center;
  }
  
  .schedule th {
    background-color: #ecf0f1;
    font-weight: bold;
  }
  
  .schedule tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .schedule tr:hover {
    background-color: #f1f1f1;
  }
  */